<?xml version="1.0" encoding="UTF-8"?>
<web-app >


  <servlet>
  <servlet-name>emp</servlet-name>
  <servlet-class>com.valid.User</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>emp</servlet-name>
  <url-pattern>/valid</url-pattern>
  </servlet-mapping>

<servlet>
  <servlet-name>valid</servlet-name>
  <servlet-class>com.valid.Verifying</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>valid</servlet-name>
  <url-pattern>/ver</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  <welcome-file>LoginPage.html</welcome-file>
  </welcome-file-list>





</web-app>